[Unit]
Description=Run SSH Session Enforcer every 60 seconds

[Timer]
OnBootSec=60
OnUnitActiveSec=60
AccuracySec=10

[Install]
WantedBy=timers.target
